<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Standard Gauge Railway - Online Booking <%=  %></p>
    <div class="topnav">
        <a class="active" href="#HOME">HOME</a>
        <% if(user) { %>
          <a href="/logout"><i class="material-icons left"></i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
        <% } %>
      </div>
  </body>
  <footer></footer>
</html> 