body {
  margin: 17;
  font-family: Arial, Helvetica, sans-serif;
  background: url('https://i.imgur.com/n1CsCNj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.trains {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;color: red;
  background: url('https://i.imgur.com/y6nsqqW.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: yellow;
  
}

.topnav {
  overflow: hidden;
  background-color: yellow;
}

.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: rgb(221, 221, 221);
  color: blue;
}

.topnav a.active {
  background-color: RED;
  color: blue;
}

a {
  padding: 10px;
}
a {
  padding: 10px;
  color: red;
}
.show {
  padding: 10px;
}
.footer{
  text-align: end
}