<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New TRAIN</title>
</head>
<body>
    <h1>Add New  Info Below:</h1>
    <a href="/trains">BOOKINGS</a>
    <a href="/">HOME-PAGE</a>
    <hr>

    <form action="/trains" method="POST" autocomplete="off">
        <select name="destination">
            <option value="Redline">Redline</option>
            <option value="Blueline">Blueline</option>
        
        </select>
        <select name="destination">
            <option value="Nairobi" selected>Nairobi</option>
            <option value="Mombasa">Mombasa</option>
        </select>
        <input type="number" name="trainNo" min="2" max="4">
        <input type="datetime-local" name="departs">
        <input type="submit" value="Add New Train">
    </form>

</body>
</html>
